@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html {
    font-family: "Roboto", sans-serif;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url(Assets/Background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
img {
    width: 150px;
}
label, input{
    display: block;
}
